{% extends "DemoBundle::base.html.twig" %}

{% block body %}
<div class="container">
<h1>{{ laureate['rdfs:label'].value }}</h1>
    <dl class="dl-horizontal">
        <dt>Birth</dt>
        <dd>{{ laureate['foaf:birthday'].value|date('Y-m-d') }}</dd>
    </dl>
</div>
{% endblock %}