{% extends "DemoBundle::base.html.twig" %}

{% block body %}

<div class="container">
    <h1>List of laureates for year {{ year }}</h1>
    <div class="list-group">
    {% for laureateaward in laureates %}
        <div class="list-group-item">
            <h4 class="list-group-item-heading">{{ laureateaward['rdfs:label'].value }}</h4>

            <a href="{{ path('laureate.view', {uri: laureateaward.uri}) }}">see more</a>
        </div>
    {% endfor %}
    </div>
</div>
{% endblock %}